body  {
    color: #fff;
    background-color: #000;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

button  {
    outline: none;
    border: none;
    border: collapse;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    background-color: #2ecc71;
    width: 240px;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 30%;
}

button:hover  {
    background-color: #3498db;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#load {
    font-size: 3em;
}

#load.screen {
    animation: fadeIn 2s infinite alternate;
}

@keyframes fadeIn {
    from {opacity: 0;}
}